---

import Icon from "../common/Icon.astro";
import List from "../common/List.astro";
import BlockList from "../common/BlockList/BlockList.astro";
import SubSectionHeading from "../common/Section/SubSectionHeading.astro";
import SectionParagraph from "../common/Section/SectionParagraph.astro";
import SectionHeading from "../common/Section/SectionHeading.astro";
import BlockListHeader from "../common/BlockList/BlockListHeader.astro";
import Section from "../common/Section/Section.astro";
import BlockListBody from "../common/BlockList/BlockListBody.astro";
import ListItem from "../common/ListItem.astro";
---

<Section extraClasses="pb-4">
    <SectionHeading id="faq">FAQ</SectionHeading>
    <SubSectionHeading id="volunteer">I am interested in helping? What can I do?</SubSectionHeading>
    <SectionParagraph>
        We are actively looking for volunteers for before, during and after the event.
        If you are interested, please join our Matrix room for
        <a href="https://matrix.to/#/#nixcon-na:nixos.org">#nixcon-na:nixos.org</a>.
    </SectionParagraph>

    <SubSectionHeading id="video">Will there be video recording?</SubSectionHeading>
    <SectionParagraph>
            Yes, you can view the livestream 
            <a href="https://www.youtube.com/watch?v=yMzS7vUz0PM&ab_channel=SouthernCaliforniaLinuxExpo" target="_blank">
                here
            </a>.
        The VOD will be available after the event.
    </SectionParagraph>

    <SubSectionHeading id="edit">This website is broken! Can I fix it?</SubSectionHeading>
    <SectionParagraph>
        Yes! The website source is at: <a href="https://github.com/nixcon/2024-na.nixcon.org">https://github.com/nixcon/2024-na.nixcon.org</a>.
    </SectionParagraph>

    <SubSectionHeading id="hackday">What is a Unconf?</SubSectionHeading>
    <SectionParagraph>
        An Unconference is all about you taking the lead.
        No predetermined schedules or set topics.
        Have a burning question or exciting idea about Nix?
        Grab a group, snag a table, and dive into the conversation.
        This is your time to connect with like-minded individuals and discuss whatever you're passionate about.
    </SectionParagraph>

    <SubSectionHeading id="arrival">How do I get to NixCon NA 2024?</SubSectionHeading>
    <SectionParagraph>
        The best information can be found on the <a href="https://www.visitpasadena.com/convention-center/attendees/directions-parking/">Visit Pasadena</a> website.
    </SectionParagraph>

    <BlockList>
        <li>
            <BlockListHeader>
                <Icon name="plane" />
                By plane
            </BlockListHeader>
            <BlockListBody>
                <List>
                    <ListItem>
                        If you are coming from LAX, it is possible to reach the convention center via public transportation in approximately 90 minutes.
                    </ListItem>
                    <ListItem>
                        Head to Terminal B Lower Level and take the <a href="https://www.flylax.com/flyaway-bus">FlyAway Bus</a> to <a href="https://metrolinktrains.com/rider-info/general-info/stations/l.a.-union-station/">Union Station</a>.
                    </ListItem>
                    <ListItem>
                        Take the Metro A Line to <em>Memorial Park Station or Del Mar Station</em>, both stations are 0.4 miles away from the convention center and about a ten minute walk.
                    </ListItem>
                </List>
            </BlockListBody>
        </li>
        <li>
            <BlockListHeader>
                <Icon name="car" />
                By car
            </BlockListHeader>
            <BlockListBody>
                <List>
                    <ListItem>
                        There are a number of ways to get to the convention center by car.
                    </ListItem>
                    <ListItem>
                        See the <a href="https://www.visitpasadena.com/convention-center/attendees/directions-parking/">Visit Pasadena</a> site for the most accurate information.
                    </ListItem>
                    <ListItem>
                        There are several parking structures around the convention center with a daily flat rate of $15.
                    </ListItem>
                </List>
            </BlockListBody>
        </li>
        <li>
            <BlockListHeader>
                <Icon name="train" />
                By metro
            </BlockListHeader>
            <BlockListBody>
                <List>
                    <ListItem>
                        Head to your nearest metro stop and take the metro to <a href="https://metrolinktrains.com/rider-info/general-info/stations/l.a.-union-station/">Union Station</a>.

                    </ListItem>
                    <ListItem>
                        Take the Metro A Line to <em>Memorial Park Station or Del Mar Station</em>, both stations are 0.4 miles away from the convention center and about a ten minute walk.
                    </ListItem>
                </List>
            </BlockListBody>
        </li>
    </BlockList>
</Section>
