---
import Section from "../common/Section/Section.astro";
import SectionHeading from "../common/Section/SectionHeading.astro";
import SectionParagraph from "../common/Section/SectionParagraph.astro";
---

<Section extraClasses="pt-4">
  <SectionHeading id="hotel">Hotel</SectionHeading>
  <SectionParagraph>
    Hilton Pasadena has <a href="https://www.hilton.com/en/attend-my-event/pasphhf-902-084e24de-bb0e-4483-8272-e9d09b4524a8/">discounted rooms</a> available for SCALE attendees.
  </SectionParagraph>
</Section>
